body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
     font-family:"Bricolage Grotesque"
}

header{
    background-color: #121212;
}
header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;    
}

header img {
    height: 89px;
    padding-top: 5px;
}
    

/* Style du bouton */



.burger {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #f0f0f0;
    margin-left: 5%;
}

/* Cacher le menu par défaut */
.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0); /* Réduit à 0 l'échelle verticale pour être invisible */
    opacity: 0; /* Rendre invisible pendant la transition */
    transform-origin: top; /* L'animation commence par le haut */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transition fluide sur transform et opacity */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 9998;
    padding: 20px;
    overflow: hidden; /* Empêche le débordement */
    justify-content: flex-start;
    align-items: flex-start;
}

.menu.active {
    max-height: 2000px;
    height: 100%;
    width: -webkit-fill-available;
    transform: scaleY(1); /* Retour à la taille normale verticale */
    opacity: 1; /* Rendre visible */
    margin-top: 86px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.menu li {
    list-style: none;
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

/* Style des liens quand on passe la souris */
.menu li a:hover {
    color: #c99f15; /* Couleur au survol */
}

.icon-insta{
    margin-right: 20px;
}
.icon-insta img{
    width: 34%;
    height: 20%;
    margin-right: 8px;
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    font-family:"Bricolage Grotesque" ;
}

#video-player {
    width: 100%;
    height: auto;
}

.video-title {
    position: absolute;
    top: 50%; /* Place au milieu verticalement */
    left: 50%; /* Place au milieu horizontalement */
    transform: translate(-50%, -50%); /* Centre parfaitement en utilisant la translation */
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre du texte */
    z-index: 10; /* Pour s'assurer que le texte reste au-dessus de la vidéo */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#video-title-text {
    margin: 0;
    font-size: 1.9em;
}
.video-sous-titre{
    color: #BC965C;
    font-size: 1.4em;
}

.call-btn{
    text-decoration: none;
    padding: 14px 22px;
    background-color: #BC965C;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(188, 150, 92, 0.7);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #f0f0f0;
}

.call-btn:hover {
    background-color: #A77B48; /* Darker background color on hover */
    box-shadow: none; /* Remove the shadow on hover */
}

/**************************apropos**************************/
.a-propos{
    padding: 50px 150px ;
}

.a-propos h1, .evjf h1, .teambuilding h1, .tarifs h1{
    color: #f0f0f0;
    text-align: center;
    font-size: 4em;
}

.section-a-propos{
    display: flex;
    flex-direction: row;
    color: #f0f0f0;
    justify-content: space-between;
    align-items: center;
}

.img-a-propos img{
    width:80%;
    height: 100%;
    margin-left: 40px;
    border-radius: 3%;
}
.text-a-propos,.img-a-propos {
    width: 100%; /* Ajustez pour laisser de l'espace pour l'image */
    height: 100%;
}
.text-a-propos h2{
    text-align: center;
    font-size: 3em;
    margin-top: -80px;   
}

.p2{
    margin-top: 40px;
    text-align: end;
}

.les-plus{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    gap: 110px;
}
.les-plus img{
    margin-right: 20px;
}

.les-plus p {
    display: flex;
    align-items: center;
}
/**************************EVJF**************************/

.evjf{
    margin: 80px 150px 142px 150px;
}
.section-evjf{
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
}
.img-evjf {
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
}
.img-evjf img, .img-evg img, .img-tb img{
    width: 100%;
    border-radius: 3%;
}
.evjf-a-propos{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/**************************EVG**************************/
.section-evg{
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}
.img-evg {
    width: 100%;
    height: 100%;
}

.evg-a-propos{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/**************************TB**************************/

.teambuilding{
    margin: 100px 150px 150px 150px
}
.section-tb{
    display: flex;
    gap: 25px;
    width: 100%;
    height: 260px;
}
.img-tb {
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
}
.tb-a-propos{
    display: flex;
    flex-direction: column;
    gap: 20px
}
.info{
    display: flex;
    justify-content: end;
    gap: 20px; ;
}
.info p{
    border: #AA8753 solid 3px;
    padding: 10px;
    border-radius: 10px;
    width: 22%;
    font-size: 0.7em;
    font-weight: 300;
    color: #BC965C;
    text-align: center;
}
/**************************tarifs**************************/

.tarifs{
    margin: 80px 150px 80px 150px;
}

.section-tarifs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    gap: 44px;
}
.section-tarifs h2{
    text-align: center;
    font-size: 1.5em;
}

.tarifs-a, .tarifs-b, .tarifs-c{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color:#18181B;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tarifs-a img, .tarifs-b img, .tarifs-c img{
    max-width: 100%;
    max-height: 100%;
}
/**************************interresse**************************/
.interesse {
    margin: 80px 150px 150px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.interesse h1, h2, .call-btn{
    text-align: center;
}

.interesse h1{
    text-transform: uppercase;
    font-size: 4em;
}
.interesse .call-btn{
    margin-top: 60px;
    width: 20%;
}










/**************************footer**************************/


footer{
    height: 115px;
    background-color: #18181B;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
    color: #f0f0f0;
}
.footer-case{
    display: flex;
    flex-direction: row;
    padding-inline: 150px;
    justify-content: space-between;
    background-color: #18181B;
    padding-bottom: 25px;
}
.propos{
    display: flex;
    flex-direction: column;
}
.a-propos h3{
    width: 225px;
    flex-wrap: nowrap;
}
.propos p{
    width:225px;
}

.plan{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plan a {
    display: flex;
    gap: 20px;
}

.footer-footer{
    background-color: #18181B;
    justify-content: center;
    text-align: center;
}

.social a {
    margin-right: 8px
}