body {
    background-color: green;
    color: black;
    margin: 0;
    padding: 0;
}

header{
    background-color: #121212;
}
header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;    
}

header img {
    height: 89px;
    padding-top: 5px;
}
    

/* Mode Nuit */
body.night-mode {
    background-color: #121212;
    color: white;
}

header.night-mode {
    background-color: red;
}

/* Style du bouton */

#theme-toggle {
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: #f0f0f0;
    margin-right: 5%;
}

#theme-toggle i {
    transition: opacity 0.3s ease;
}

.burger {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #f0f0f0;
    margin-left: 5%;
}

/* Cacher le menu par défaut */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1); /* Légèrement transparent */
    backdrop-filter: blur(10px); /* Flou */
    overflow: hidden; /* Empêche le débordement lors de l'animation */
    max-height: 0; /* Hauteur initiale fermée */
    transition: max-height 0.5s ease; /* Animation de l'ouverture et fermeture */
    z-index: 9998; /* Sous le bouton burger */
    padding: 0 20px;
}

.menu.active {
    max-height: 100%;
}

.menu li {
    list-style: none;
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

/* Style des liens quand on passe la souris */
.menu li a:hover {
    color: #ff4081; /* Couleur au survol */
}